@use 'sass:color';

$color-links: hsl(0, 100%, 50%);
$color-bgbtn-principal: color.adjust($color-links, $lightness: 25%);

$colors: (
    primario: (
        100: hsl(213, 100%, 80%),
        200: hsl(213, 100%, 70%),
        300: hsl(213, 100%, 60%),
        400: hsl(213, 100%, 45%),
        500: hsl(213, 100%, 20%)
    ),
    enfasis: (
        100: hsl(23, 100%, 80%),
        200: hsl(23, 100%, 70%),
        300: hsl(23, 100%, 60%),
        400: hsl(23, 100%, 40%),
        500: hsl(23, 100%, 20%)
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 87%),
        300: hsl(0, 0%, 80%),
        500: hsl(0, 0%, 60% ),
        700: hsl(0, 0%, 40%),
        800: hsl(0, 0%, 30%),
        900: hsl(0, 0%, 10%)
    )
);

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
     .texto-#{$color}-#{$shade} {
         color: $value;
     }
     .bg-#{$color}-#{$shade} {
        background-color: $value;
    }
  }  
};

.texto-link {
    color: $color-links;
}

.bg-btn-principal {
    background-color: $color-bgbtn-principal;
}
