.texto-primario-100 {
  color: #99c7ff;
}

.bg-primario-100 {
  background-color: #99c7ff;
}

.texto-primario-200 {
  color: #66abff;
}

.bg-primario-200 {
  background-color: #66abff;
}

.texto-primario-300 {
  color: #338fff;
}

.bg-primario-300 {
  background-color: #338fff;
}

.texto-primario-400 {
  color: #0067e6;
}

.bg-primario-400 {
  background-color: #0067e6;
}

.texto-primario-500 {
  color: #002e66;
}

.bg-primario-500 {
  background-color: #002e66;
}

.texto-enfasis-100 {
  color: #ffc099;
}

.bg-enfasis-100 {
  background-color: #ffc099;
}

.texto-enfasis-200 {
  color: #ffa166;
}

.bg-enfasis-200 {
  background-color: #ffa166;
}

.texto-enfasis-300 {
  color: #ff8133;
}

.bg-enfasis-300 {
  background-color: #ff8133;
}

.texto-enfasis-400 {
  color: #cc4e00;
}

.bg-enfasis-400 {
  background-color: #cc4e00;
}

.texto-enfasis-500 {
  color: #662700;
}

.bg-enfasis-500 {
  background-color: #662700;
}

.texto-neutral-100 {
  color: white;
}

.bg-neutral-100 {
  background-color: white;
}

.texto-neutral-200 {
  color: #dedede;
}

.bg-neutral-200 {
  background-color: #dedede;
}

.texto-neutral-300 {
  color: #cccccc;
}

.bg-neutral-300 {
  background-color: #cccccc;
}

.texto-neutral-500 {
  color: #999999;
}

.bg-neutral-500 {
  background-color: #999999;
}

.texto-neutral-700 {
  color: #666666;
}

.bg-neutral-700 {
  background-color: #666666;
}

.texto-neutral-800 {
  color: #4d4d4d;
}

.bg-neutral-800 {
  background-color: #4d4d4d;
}

.texto-neutral-900 {
  color: #1a1a1a;
}

.bg-neutral-900 {
  background-color: #1a1a1a;
}

.texto-link {
  color: red;
}

.bg-btn-principal {
  background-color: #ff8080;
}

/*# sourceMappingURL=estilos.css.map */
